.edit-form {
  display: flex;
    flex-direction: row;
  gap: 10px;
  background: transparent;
  width: 100%;
  border: none;
  margin-top: 10px;
  box-sizing: border-box;
}

.edit-form input[type="text"] {
  border: 1.5px solid #e7ebee;
  border-radius: 10px;
  padding: 7px 16px;
  font-size: 1rem;
  background: #fafcff;
  color: #23272f;
  outline: none;
  transition: border-color 0.15s;
  min-width: 0;
  width: 100%;
  flex: 1;
}

.action-btns{
  display: flex;
    flex-direction: row;
    align-items: stretch;
}

.cancel-btn,
.save-btn {
  background: #f1f1f1;
  border: none;
  border-radius: 6px;
  padding: 6px 12px;
  cursor: pointer;
  font-weight: bold;
  color: #444;
  transition: background 0.18s, color 0.18s;
  font-size: 0.98rem;
  letter-spacing: 0.01em;
  outline: none;
}

.cancel-btn:hover {
  background: #ffe5e5;
  color: #e84949;
}

.save-btn:hover {
  background: #e4edfd;
  color: #2565e7;
}

@media only screen and (max-width: 400px) {
  .edit-form {
    flex-direction: column;
    align-items: stretch;
    justify-items: center;
    gap: 12px;
    padding: 0 10px 0 0;
  }

  .action-btns{
    flex-direction: column;
    align-items: stretch;
  }


}

@media only screen and (max-width: 750px) {
  .edit-form {
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
  }

  .action-btns{
    flex-direction: column;
    align-items: stretch;
  }

  .cancel-btn,
  .save-btn {
    font-size: 0.60rem;
  }

  .edit-form input[type="text"]{
    font-size: 0.70rem;
  }
}

@media only screen and (min-width: 800px) {
  .edit-form input[type="text"]{
    min-width: 150px;
  }
}

/* @media only screen and (max-width: 600px) {} */
/* @media only screen and (max-width: 1000px) {} */
