<header class="header">
  <nav class="navbar sticky-top navbar-light" style="background-color: #abb7c0;">

    <a class="navbar-brand" href="#" aria-label="User">
      <i class="bi bi-person" alt="user icon"></i>
      <span class="user-name">{{ auth.username }}</span>
    </a>
    <button type="button" class="btn btn-outline-secondary">
      <a class="navbar-brand" (click)="auth.logout()" href="/login">Logout</a>
    </button>
  </nav>
</header>

<div class="main-container">
  <app-add-task class="app-add-task"></app-add-task>

  <app-filter-tasks></app-filter-tasks>

  <div class="task-list">
    <app-task-list [tasks]="(filteredTasks$ | async) || []"></app-task-list>
  </div>
</div>