/* .priority-group {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 8px 0 0 0;
}

.priority-value {
  font-weight: bold;
  background: #f5f7ff;
  color: #4769e2;
  padding: 3px 12px;
  border-radius: 10px;
  font-size: 0.98rem;
} */

.add-task-form {
  background: #908b8b;
  border-radius: 18px;
  box-shadow: 10px 6px 32px rgba(62, 78, 82);
  padding: 20px 24px;
  margin-bottom: 18px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: center;
  max-width: 500px;
  width: 500px;
  transition: box-shadow 0.18s;
}

.add-task-form input[type="text"] {
  flex: 1;
  border: 1.5px solid #e7ebee;
  border-radius: 10px;
  padding: 10px 16px;
  font-size: 1.07rem;
  background: #fafcff;
  color: #23272f;
  outline: none;
  transition: border-color 0.14s;
}

.add-task-form input[type="text"]:focus {
  border-color: #4f8cff;
  background: #fff;
}

.add-btn {
  margin-top: 12px;
  padding: 10px 0;
  border: none;
  border-radius: 10px;
  background: #4769e2;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  letter-spacing: 0.01em;
  transition: background 0.15s, box-shadow 0.18s;
  box-shadow: 0 2px 8px 0 rgba(79, 140, 255, 0.06);
  width:200px;
}

.add-btn:hover {
  background: #2565e7;
}
