<form class="add-task-form" (ngSubmit)="onAddTask()">
  <input type="text" [(ngModel)]="newTask.todo" name="todo" placeholder="Enter task" required />
  <button class="add-btn" type="submit">Add My Task</button>
</form>
<!-- <div class="priority-group">
  <label>Priority:</label>
  <input type="range" [(ngModel)]="newTask.priority" name="priority" min="1" max="5" list="priorityList" />
  <datalist id="priorityList">
    <option *ngFor="let p of [1,2,3,4,5]" [value]="p">{{ p }}</option>
  </datalist>
  <span class="priority-value">Priority: {{ newTask.priority }}</span>
</div> -->